<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber&iacutea Alura</title>
    <link rel="stylesheet" href="../reset.css/reset.css"> <!--se hace reset del genral de los estilos css-->
    <link rel="stylesheet" href="../Styles/home-style.css">
</head>
   
<body>

    <header>
        <div class = "container">
            <h1><img src="../pics//logo.png" alt="Logo productos barbería Alura"></h1>
            <nav>
                <ul>
                    <li><a href="home.html">home</a></li>
                    <li><a href="products.html">productos</a></li>
                    <li><a href="contact.html">contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="ppal">
            <img id="banner" src="../pics/banner.jpg" alt="Barber pic">
    
            <h2 class="centralizado">Sobre la Barber&iacutea Alura</h2>
        
            <p class="same">
                Ubicada en el coraz&oacuten de la ciudad, la <strong>Barber&iacutea Alura</strong>  trae para el mercado lo que 
                hay de mejor para su cabello y barba. Fundada en 2020, la Barber&iacutea Alura ya es 
                destaque en la ciudad y conquista nuevos clientes diariamente. 
            </p> 
            <p id="fi">
                <em>Nuestra misi&oacuten es: <strong>"Proporcionar autoestima y calidad de vida a nuestros clientes"</strong> .</em> 
            </p>
         
            <p class="same">
                Ofrecemos profesionales experimentados que est&aacuten constantemente observando los 
                cambios y movimiento en el mundo de la moda, para as&iacute ofrecer a nuestros clientes 
                las &uacuteltimas tendencias. El atendimiento posee un padr&oacuten de excelencia y agilidad, 
                garantizando calidad y satisfacci&oacuten de nuestros clientes.
            </p>
        </section>
        
    
        <section id="diferencial">
            <h3 class="centralizado">Diferenciales</h3>
            <ul>
                <li>atención personalizada a los clientes</li>
                <li>espacio diferenciado</li>
                <li>localizaci&oacuten</li>
                <li>personal calificado</li>
            </ul>
    
            <img src="../pics/diferenciales.jpg" alt="barber cut">
    
        </section>
    </main>
    

    <footer>
        <img src="../pics/logo-blanco.png" alt="white logo">
        <p class="copyright"> &copy Copyright Barbería Alura - 2022</p>
    </footer> 
</body>



</html>

