<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber&iacutea Alura</title>
    <link rel="stylesheet" href="../Styles/home-style.css">
</head>
   
<body>

    <header>
        <h1>Barber&iacutea Alura</h1>
    </header>

    <div id="ppal">
        <img id="banner" src="../pics/banner.jpg" alt="Barber pic">

        <h2 class="centralizado">Sobre la Barber&iacutea Alura</h2>
    
        <p class="same">
            Ubicada en el coraz&oacuten de la ciudad, la <strong>Barber&iacutea Alura</strong>  trae para el mercado lo que 
            hay de mejor para su cabello y barba. Fundada en 2020, la Barber&iacutea Alura ya es 
            destaque en la ciudad y conquista nuevos clientes diariamente. 
        </p> 
        <p id="fi">
            <em>Nuestra misi&oacuten es: <strong>"Proporcionar autoestima y calidad de vida a nuestros clientes"</strong> .</em> 
        </p>
     
        <p class="same">
            Ofrecemos profesionales experimentados que est&aacuten constantemente observando los 
            cambios y movimiento en el mundo de la moda, para as&iacute ofrecer a nuestros clientes 
            las &uacuteltimas tendencias. El atendimiento posee un padr&oacuten de excelencia y agilidad, 
            garantizando calidad y satisfacci&oacuten de nuestros clientes.
        </p>
    </div>
    

    <div id="diferencial">
        <h3 class="centralizado">Diferenciales</h3>
        <ul>
            <li>atención personalizada a los clientes</li>
            <li>espacio diferenciado</li>
            <li>localizaci&oacuten</li>
            <li>personal calificado</li>
        </ul>

        <img src="../pics/diferenciales.jpg" alt="barber cut">

    </div>

    <footer>
        <div>
            <button><a href="../Templates/products.html">Atrás</a></button>
        </div>
        
    </footer> 
</body>



</html>

