<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos - barbería Alura</title>
        <link rel="stylesheet" href="../reset.css/reset.css"> <!--se hace reset del genral de los estilos css-->
        <link rel="stylesheet" href="../Styles/topBotBanner-style.css">
        <link rel="stylesheet" href="../Styles/products-style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class = "container">
                <div class="topLogo">
                    <img src="../pics//logo.png" alt="Logo productos barbería Alura">
                </div>
                <nav>
                    <ul>
                        <li><a href="home.html">home</a></li>
                        <li><a href="products.html">productos</a></li>
                        <li><a href="contact.html">contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            
            <ul class="prod">
                <li>
                    <h2>Cabello</h2>
                    <img src="../pics/cabello.jpg" alt="Cabello">
                    <p class = "prod-description">Con tijera o máquina, a gusto del cliente</p>
                    <p class = "prod-price">$ 10.00</p>
                </li>
                <li>
                    <h2>Barba</h2>
                    <img src="../pics/barba.jpg" alt="Barba">
                    <p class = "prod-description">corte y diseño profesional de barba</p>
                    <p class = "prod-price">$ 8.00</p>
                </li>
                <li>
                    <h2>Cabello + Barba</h2>
                    <img src="../pics/cabello+barba.jpg" alt="Cabello + Barba">
                    <p class = "prod-description">Paquete completo de cabello y barba</p>
                    <p class = "prod-price">$ 15.00</p>
                </li>
            </ul>
            
        </main>
 
        <footer>
            <img src="../pics/logo-blanco.png" alt="white logo">
            <p class="copyright"> &copy Copyright Barbería Alura - 2022</p>
        </footer>

    </body>
    asdfasdfas
</html>