body{
    background:linear-gradient(lightgray, rgb(99, 97, 97));
}

main {
    width: 90%;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.button-send {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
    background-color: darkgoldenrod;
    border-radius: 25px;
    border-width: 0;
    transition: 1s all;
    cursor: pointer;
}

.button-send:hover {
    background-color: orange;
    transform: scale(1.2) rotate(3deg);
}

table {
    margin: 5% 5%;
}

th,td {
    border: 1px solid black;
    padding: 8px 15px;
}

thead {
    background-color: lightslategray;
    color: white;
    font-weight: bold;
}

@media screen and (max-width:560px){

    main{
        width: 90%;
    }

}