.prod{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.prod li{
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1,5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 15px 15px 45px 15px;
}

.prod :hover{
    border-color: goldenrod;
    border-width: 4px;
}

.prod li:hover h2{
    font-size: 33px;
}

.prod li:active{
    border-color: rgb(59, 71, 240);
    border-width: 4px;
    font-size: 33px;
}

.prod h2 {
    font-size: 30px;
    font-weight: bold;
}

.prod-description{
    font-size: 18px;
}

.prod-price{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

