.prod{
    width: auto;
    margin: 0 15%;
    padding: 50px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.prodCard{
    text-align: center;
    width: 90%;
    vertical-align: top;
    margin: 1% 1.5%;
    padding: 4% 3%;
    
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 15px 15px 45px 15px;
}

.prodCard:hover{
    border-color: goldenrod;
    border-width: 4px;
}

.prodCard h2:hover{
    font-size: 33px;
}

.prod-pic{
    max-width: 100%;
    height: auto; 

}

.prodCard:active{
    border-color: rgb(59, 71, 240);
    border-width: 4px;
    font-size: 33px;
}

.prodCard h2 {
    font-size: 30px;
    font-weight: bold;
}

.prod-description{
    font-size: 18px;
}

.prod-price{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

@media screen and (max-width: 960px){
    .prod-description, .prod-price, .prodCard h2{
        transform: scale(0.8);
    }

    .prod{
        margin: 0 10%;
        padding: 50px 0;
    }
    
}

@media screen and (max-width: 480px){
    .prod{
        display: inline-block;
        margin: 0 15%;
        padding: 50px 5%;
    }

    .prodCard{
        width: auto;
        margin: 5% 0;
    }

    .prod-description, .prod-price, .prodCard h2{
        transform: scale(1);
    }
}